<% layout('layout/boilerplate') %>
    <div class="container d-flex min-vh-100 justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-md-6 offset-md-4 mx-auto">
                <div class="card shadow w-100">
                    <div class=" card-body py-5 px-4">
                        <h1 class="card-title">Edit Campground!</h1>
                        <form class="needs-validation" action="/campgrounds/<%=campground._id%>?_method=PUT"
                            method="POST" novalidate enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="title">Title</label>
                                <div class="input-group has-validation">
                                    <input class="form-control" type="text" id="title" name="campground[title]"
                                        value="<%= campground.title %>" required>
                                    <div class="invalid-feedback">Please provide valid title!</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="location">Location</label>
                                <div class="input-group has-validation">
                                    <input class="form-control" type="text" id="location" name="campground[location]"
                                        value="<%= campground.location %>" required>
                                    <div class="invalid-feedback">Please provide valid Location!</div>
                                </div>
                            </div>
                            <div class="mb-3 custom-file">
                                <label for="formFileMultiple" class="form-label custom-file-label">Add more
                                    image(s)</label>
                                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Description</label>
                                <div class="input-group has-validation">
                                    <textarea class="form-control" type="text" id="description"
                                        name="campground[description]" required><%=campground.description%></textarea>
                                    <div class="invalid-feedback">Please provide valid Description!</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" id="price" name="campground[price]"
                                        value="<%= campground.price %>" required>
                                    <span class="input-group-text">.00</span>
                                    <div class="invalid-feedback">Please provide valid Price!</div>
                                </div>
                            </div>
                            <div class="mb-3 d-flex flex-row flex-wrap gap-4">
                                <% if (campground.images && campground.images.length > 0) { %>
                                <% campground.images.forEach(function(img, i) { %>
                                    <div class="mb-4 text-center">
                                        <img src="<%= img.thumbnail %>" alt="Campground image <%= i + 1 %>"
                                            class="img-thumbnail mb-2" style="max-width: 150px;">
                                        <div>
                                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                                value="<%= img.filename %>">
                                            <label for="image-<%=i%>">Delete?</label>
                                        </div>
                                    </div>
                                    <% }) %>
                                <% } else { %>
                                    <p class="text-muted">No images to display.</p>
                                <% } %>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-info text-white">Edit Campground</button>
                            </div>
                        </form>
                        <a href="/campgrounds">All Campgrounds</a><br>
                        <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
                    </div>
                </div>
            </div>
        </div>
    </div>